// variables color
$backgroundCorporativeColor: rgb(6, 53, 163);

$backgroundButton: rgb(227, 27, 85);

$backgroundSection: #e51b56;

$backgroundFormBlock: rgb(255, 255, 255);

$backgroundInput: rgb(240, 241, 245);

$textColor: rgb(87, 87, 87);

$inputColor: rgb(97, 97, 97);

// variables sizes
$heightHeaderMobile: 80px;
$heightHeaderLandscape: 100px;

$footerHeaderMobile: 80px;
$footerHeaderLandscape: 200px;

// radius
$ui-block-radius: 15px;